<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="style/bootstrap.min.css")
    title Document
body
    h1 登陆成功
    h2 #{info}
    button.insertdata.btn.btn-primary
        | 添加
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 添加/修改数据
                .modal-body
                    form.myform(method="post")
                        .form-group
                            label 姓名
                            input.name.form-control(type='text' name="name")
                        .form-group
                            label 年龄
                            input.form-control(type='text' name="age")
                        .form-group
                            label 性别
                            input.form-control(type='text' name="sex")
                        button.btn.btn-paimary(type='submit') 添加/修改
    table.table.table-bordered.table-hover
        thead
            th 姓名
            th 年龄
            th 性别
            th 删除
            th 修改
        tbody
            -for(var i=0;i<data.length;i++)
                tr
                    td=data[i].name
                    td=data[i].age
                    td=data[i].sex
                    td
                        button 删除
                    td
                        button 修改
    script(scr="script/jquery.js")
    script(scr="script/bootstrap.js")
    script(scr="script/home.js")
