<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="style/gongyong.css")
	title #{title}
body
	ul
		li
			a(href="/") 主页

		li
			a(href="/vedio") 视频

		li
			a(href="/runpic") 动漫

		li
			a(href="/music") 音乐

		li
			a(href="/table") 表格
	div(class="clear")
	block content
	