<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    form(action="/senddata" method="post")
        label 用户
        input
        label 密码
        input
        button 登陆

